/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #3b28ec;
  text-align: right;
  padding: 14px 16px;
  font-size: 12px;
}

h1{
  color: red;
  font-family: 'Product Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  padding: 20px;
  font-size: large;
}


img{
  padding: 10px;

}

hr{
  padding-top: 20px;
  padding-bottom: 20px;

}

label{
  font-size: small;
  padding-left: 40px;
  padding-top: 10px;
}

.logo-row{
  text-align: center;
}

.logo {
  width: 215px;
  height: 76px;
  padding-top: 180px;
}

button{
  display: flex;
  margin: auto;
}

.container{
  display: flex;
  justify-content: center;
  padding-top:20px;
  padding-bottom: 20px;
 }
 
/*Input bar with rounded corners*/

input{
  background-image: url(images/search_icon.webp);
  background-repeat: no-repeat;
  background-position: right;
  border-radius:40px;
  padding: 10px;
  margin-left: 10px;
  height: 20px;
  width: 500px;
  border:1px
  outline: none;
  
}

/* normal input bar */

#f1 {
  display: block;
  margin-left: 50px;
  border-radius: 0px;
  background-image: none;
  height: 10px;
  margin-bottom: 10px;
}

/* Advanced button */

#b2 {
  padding: 7px;
  background-color: rgb(85, 130, 255);
  color: white;
  font-family: 'Product Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  border: 2px;
  border-color: black;
  margin-top: 30px;
}
